MainTestFactoryMethod.java
MainTestSingleton.java
MainTestAbstractFactory.java
MainTestBuilder.java
MainTestAdapter.java
MainTestDecorator.java
MainTestFacade.java
MainTestObserver.java
MainTestStrategy.java
MainTestCommand.java
MainTestState.java